Prints do Projeto/Cadastro Desktop/Captura de tela 2024-06-17 191300.png
Prints do Projeto/Cadastro Mobile/Captura de tela 2024-06-17 191523.png
Prints do Projeto/Edição de Perfil Desktop/Captura de tela 2024-06-17 190640.png
Prints do Projeto/Edição de Perfil Desktop/Edição de perfil com foto.png
Prints do Projeto/Edição de foto Desktop/Captura de tela_17-6-2024_19814_localhost.jpeg
Prints do Projeto/Feed Desktop/Pagina Principal 1.png
Prints do Projeto/Feed Desktop/Pagina Principal 2.png
Prints do Projeto/Feed Mobile/Captura de tela 2024-06-17 191652.png
Prints do Projeto/Login Desktop/Captura de tela_17-6-2024_191157_localhost.jpeg
Prints do Projeto/Login Mobile/Captura de tela 2024-06-17 191443.png
Prints do Projeto/Meu Perfil Desktop/Captura de tela_17-6-2024_19109_localhost.jpeg
Prints do Projeto/Meu Perfil Desktop/Pagina de Usuário .png
Prints do Projeto/Meu Perfil Mobile/Captura de tela 2024-06-17 191958.png
Prints do Projeto/Meu Perfil Mobile/Captura de tela_17-6-2024_192149_localhost.jpeg
Prints do Projeto/Outros Perfil Desktop/Captura de tela_17-6-2024_191047_localhost.jpeg
Prints do Projeto/Outros Perfil Mobile/Captura de tela_17-6-2024_192236_localhost.jpeg
Prints do Projeto/Pagina da Foto Desktop/Captura de tela_17-6-2024_19918_localhost.jpeg
Prints do Projeto/Pagina da Foto Desktop/Sessão de comentários da foto.png
Prints do Projeto/Pagina da Foto Mobile/Captura de tela 2024-06-17 191821.png
