#login,
#register {
    border: 1px solid #363636;
    background-color: rgba(1, 10, 0, 0.75);
    padding: 1.5em 2em;
    max-width: 33%;
    margin: 2em auto;
    box-shadow: 2px 2px 4px 1px #00000075;
    border-radius: 5px;
}

#login h2,
#register h2 {
    text-align: center;
    font-size: 2.1em;
    margin-top: 0;
}

.subtitle {
    font-weight: bold;
    color: #c1c0c0;
    margin-bottom: 1.5em;
}

#login form,
#register form {
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25)
}

#login p,
#register p {
    text-align: center;
}

#login p a,
#register p a {
    font-weight: bold;
    color: var(--color10);
}