#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(1, 10, 0, 0.60);
    border-radius: 5px; 
    border-bottom: 1px solid #3a3a3a;
    padding: .1em 1em;
}

#search-form {
    position: relative;
    width: 20%;
}

#search-form svg{
    top: 2px;
    left: 9px;
    font-size: .9em;
    position: absolute;
}

#search-form input{
    margin: 0;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding-left: 2.5em;
}

#nav-links{
    display: flex;
    align-items: center;   
    flex-direction: row;
    justify-content: space-between;
}

#nav-links li{
    margin-right: 1em;
}

#nav-links ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

#nav-links span{
    cursor: pointer;
}

#nav-links svg{
    font-size: 1.5em;
}

#nav-logo {
    border-radius: 5px;
    margin-right: .5em;
    height: 35px;
    width: 35px;
}