#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(1, 10, 0, 0.60);
    border-radius: 5px; 
    border-bottom: 1px solid #3a3a3a;
    padding: .1em 1em;
}

#search-form{
    position: relative;
    width: 20%;
}

#search-form svg{
    position: absolute;
    font-size: .9em;
    top: 2px;
    left: 9px;
}

#search-form input{
padding-left: 2.5em;
border: none;
border-radius: 5px;
width: 100%;
margin: 0;
}

#nav-links{
    display: flex;
    align-items: center;   
    flex-direction: row;
    justify-content: space-between;
}

#nav-links li{
    margin-right: 1em;
}

#nav-links ul{
    display: flex;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-links span {
    cursor: pointer;
}

#nav-links svg{
    font-size: 1.5em;
}

