.photo-item img {
    width: 100%;
    border-radius: 5px;

}

#home .photo-item h2 {
    margin-bottom: 1em;
}

.photo-description {
    text-align: left;
    margin-bottom: .5em;

}

.photo-author {
    text-align: left;
}

.photo-author a {
    font-weight: bold;
}

.photo-author a:hover {
    color: rgba(245, 245, 245, 0.75);
}