#home {
    width: 50%;
    margin: 0 auto;    
}

.home-post{
    margin-top: 1em;
    border-radius: 20px;
    margin-bottom: 1em;
    background-color: var(--color02);
    padding-top: 2em;   
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: .5em;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}

#home .btn{
    display: block;
    max-width: 80px;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

#home .btn:hover {
    cursor: pointer;
    opacity: 1.0;
}

.no-photos {
    text-align: center;
}

.no-photos a {
    color: red;
}